
.anima_page-enter {
    opacity: 0.01;
    height: 0px;
    width: 0px;
    overflow: hidden;
    
  }
  
  .anima_page-enter.anima_page-enter-active {
    width: 400px;
    height: 400px;
    opacity: 1;
    transition: opacity 0.8s ease-in,width 0.8s ease-in;
  }
  
  .anima_page-leave {
    height: 400px;
    width: 400px;
    opacity: 1;
    
  }
  
  .anima_page-leave.anima_page-leave-active {
    overflow: hidden;
    width: 0px;
    height: 0px;
    opacity: 0.01;
    transition: opacity 0.8s ease-in ,width 0.8s ease-in ;
  }
