.close_button{
    position:absolute;
    top: $default-margin;
    right: $default-margin;
    z-index: 100;
    transition: transform 0.5s ease;
    cursor: pointer;

    &:hover{
        transform: rotate(0.5turn)
    }
}

.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #e5e5e5;
    
}