.detail{


    background: $primary-color;
    // transition: width 0.7s ease-in-out 1s;
    

    & > *{
        opacity: 0;
    }

    &.expanded{

        overflow: auto;
        
        & > *{
            opacity: 1;
        }
        
    }



    dl{
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-between);
        height:100%;
    }

    h1,h2,p{
        color: #fff;
    }

    img{
        width:100%;
        height:auto;
    }

    .button-outline{
        color: #fff !important;
        border-color: #fff;

        &:hover,&:visited,&:active{
            opacity: 0.9;
            color: #fff !important;
            border-color: #fff !important;
                
        }
    }

    .close_button{
        position: absolute;
        top: -70px;
        right: 30px;
        color: #fff;

        &:hover{
            color:#fff;
            opacity: 0.8;
        }
    }

    .example-enter {
        opacity: 0.01;        
    }
    
    .example-enter.example-enter-active {
        opacity: 1;
        transition: opacity 0.8s ease-in;
    }

    .example-leave {
        opacity: 1;
    }

    .example-leave.example-leave-active {
        opacity: 0.01;
        transition: opacity 0.8s ease-in ;
    }
} 