.main{

    background: url('assets/imgs/background.jpg') ;
    background-size:     cover;


    .page-menu-item{
        
        &:hover{
            opacity: 0.9;
        }

        &.expanded{
            overflow: auto;
        }

        .content{
            background: white;
            padding: $default-margin;
        }

        &.profiles{
            
            a{
                display: inline-block;
                margin: $default-margin / 2;
            }

        }
        
        
        h3,h2,h1{

            margin:0;
            padding:$default-margin/1.2;
            line-height: 100%;
            color:#fff;
            display: inline-block;

            &:nth-child(1):after{
                margin-right: $default-margin /4;
            }
            
        }

    }

   @import 'main-detail';

    $step: 1;
    @while $step <=5  {
        dt:nth-child(#{$step}) {
          background-color: darken( $primary-color, ($step * 7%));
        } 
        $step: $step + 1;
    }

}


