.main-detail{

    background: white;
    transition: width 1s ease;    
    overflow: hidden;
    position: relative;
    z-index: 10;
    & .content{
        opacity: 1;
    }

    .content-wrapper{
        position: relative;
        transition: top 1s;
    }

    &.hidden{
        overflow: hidden;
        width: 0px;
        padding: 0;
    }

    .content-item{
        display: block;
        width: 400px;
        height: 400px;
        padding: $default-margin;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        

    }
    
}