
@include respond-to(hh){

    .main{
        display: block;
        width: 100%;

        .page-menu{
            width: 100%;
            @include flexbox();
            @include flex-direction(row)   ;
            @include align-items(stretch);
            @include justify-content(space-between);
            margin:0 !important;
        }

        .page-menu-item{
            @include flexbox();
            @include justify-content(center);
            cursor:pointer;
            transition: margin 0.6 ease;
            h1,h2,h3,i,a{font-size:1em;}
            @include flex-grow(1)
        }

        .profiles{
            display: none;
        } 

        .main-detail{
            width: 100%;
            width: 100%;
            height: 400px;
        }
    
    }

    .list{

        padding: $default-margin !important;
        display: block;
        width: 100% !important;
        
        &:hover{
            width: 300%;
        }

    }

    .detail{

        width: 100% !important;
        padding: $default-margin;
        padding-top: $default-margin * 3;
        
        .close_button{
            right:-10px;
        }

        &.expanded{
            
            width: 100% !important;

            .close_button{
                right:-10px;
            }

        }
        
        img{
            width: 100% !important;
        }

    }

}