
@include respond-to(ms){

    body{

    }

    .site{
        position: relative;
    }

    .main{

        @include flexbox();
        padding-top: $default-margin/1.2;

        .page-menu{
            @include flexbox();
            @include flex-direction(column)   ;
            @include align-items(flex-start);
            height: 100%;
            position: relative; 
            @include justify-content(center);
        }

        .page-menu-item{
            display: inline-block;   
            cursor:pointer;
            overflow: hidden;
            transition: margin 0.6 ease;
        }
    
    }

    .list{

        padding: $default-margin !important;
        display: block;
        width: 100% !important;
        
        &:hover{
            width: 300%;
        }

    }

    .detail{

        width: 100% !important;
        display: block !important;
        padding: $default-margin;
        padding-top: $default-margin * 3;

        &.expanded{
            
            width: 100% !important;
            display: block !important;
            transition: none;
        }
        
        img{
            width: 100% !important;
        }

    }

}