@include respond-to(ws){

body{
    width:100%;
    height: 100%;
    position: fixed;
}


.main{

    @include flex-grow(2);
    @include flexbox();
    @include flex-direction(row)   ;
    @include justify-content(flex-start);
    @include align-items(center);
    width:100%;

    .page-menu{
        @include flexbox();
        @include flex-direction(column)   ;
        @include align-items(flex-start);
        height: 100%;
        position: relative;
        @include justify-content(center);
    }

    
    .page-menu-item{

        display: inline-block;   
        cursor:pointer;
        overflow: hidden;
        transition: margin 0.6 ease;
    }

    .main-detail{
        width: 400px;
        height: 400px;
    }

}

.list{
    padding: $default-margin;
    padding-top: $top-space;
}

.site{

    background:purple;
    position: absolute;
    width:100%;
    height: 100%;

    @include flexbox();
    @include justify-content(flex-end);

    .detail{
        
        overflow: hidden;
        width: 50px;
        padding: $default-margin;            
        padding-top:$top-space;
        transition: width 0.7s ease 0.5s;

        &.expanded{
            padding: $default-margin;
            padding-top:$top-space;
            width: 80%;
            transition: width 0.7s ease;
        }

    }

}  // end of site

} // end of respond-to