@media only screen and (min-width: 1070px) {
  body {
    width: 100%;
    height: 100%;
    position: fixed; }

  .site {
    background: purple;
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }
    .site .main {
      -webkit-flex-grow: 2;
      -moz-flex-grow: 2;
      -ms-flex-grow: 2;
      flex-grow: 2;
      width: 100%; }
    .site .content {
      width: 500px; }
    .site .detail {
      width: 50px; }
      .site .detail > * {
        display: none; }
      .site .detail.expanded {
        width: 960px; }
        .site .detail.expanded > * {
          display: block; } }
.content {
  background: #e5e5e5;
  padding: 30px;
  padding-top: 120px;
  overflow: hidden; }

.main {
  background: url("https://placeimg.com/1000/480/nature");
  background-size: cover; }
  .main dl {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 100%;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .main dt {
    background: purple;
    display: table; }
    .main dt.expanded .content {
      padding: 20px; }
    .main dt h3, .main dt h2, .main dt h1 {
      margin: 0;
      padding: 25px;
      line-height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      color: #fff; }
      .main dt h3:nth-child(1):after, .main dt h2:nth-child(1):after, .main dt h1:nth-child(1):after {
        margin-right: 7.5px; }

.detail {
  background: purple;
  padding: 30px;
  padding-top: 120px; }
  .detail dl {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    height: 100%; }
  .detail h3, .detail p {
    color: #fff; }

.detail.expanded {
  transition: width 1s; }
