.close_button {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
  transition: transform 0.5s ease;
  cursor: pointer; }
  .close_button:hover {
    transform: rotate(0.5turn); }

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5; }

body.main {
  background: #CC5543; }

@media only screen and (min-width: 1070px) {
  body {
    width: 100%;
    height: 100%;
    position: fixed; }

  .main {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    -ms-flex-grow: 2;
    flex-grow: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 100%; }
    .main .page-menu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start;
      height: 100%;
      position: relative;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
    .main .page-menu-item {
      display: inline-block;
      cursor: pointer;
      overflow: hidden;
      transition: margin 0.6 ease; }
    .main .main-detail {
      width: 400px;
      height: 400px; }

  .list {
    padding: 30px;
    padding-top: 120px; }

  .site {
    background: purple;
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }
    .site .detail {
      overflow: hidden;
      width: 50px;
      padding: 30px;
      padding-top: 120px;
      transition: width 0.7s ease 0.5s; }
      .site .detail.expanded {
        padding: 30px;
        padding-top: 120px;
        width: 80%;
        transition: width 0.7s ease; } }
@media only screen and (min-width: 641px) and (max-width: 1069px) {
  .site {
    position: relative; }

  .main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-top: 25px; }
    .main .page-menu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start;
      height: 100%;
      position: relative;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
    .main .page-menu-item {
      display: inline-block;
      cursor: pointer;
      overflow: hidden;
      transition: margin 0.6 ease; }

  .list {
    padding: 30px !important;
    display: block;
    width: 100% !important; }
    .list:hover {
      width: 300%; }

  .detail {
    width: 100% !important;
    display: block !important;
    padding: 30px;
    padding-top: 90px; }
    .detail.expanded {
      width: 100% !important;
      display: block !important;
      transition: none; }
    .detail img {
      width: 100% !important; } }
@media only screen and (max-width: 640px) {
  .main {
    display: block;
    width: 100%; }
    .main .page-menu {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      align-items: stretch;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      margin: 0 !important; }
    .main .page-menu-item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      cursor: pointer;
      transition: margin 0.6 ease;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-grow: 1;
      flex-grow: 1; }
      .main .page-menu-item h1, .main .page-menu-item h2, .main .page-menu-item h3, .main .page-menu-item i, .main .page-menu-item a {
        font-size: 1em; }
    .main .profiles {
      display: none; }
    .main .main-detail {
      width: 100%;
      width: 100%;
      height: 400px; }

  .list {
    padding: 30px !important;
    display: block;
    width: 100% !important; }
    .list:hover {
      width: 300%; }

  .detail {
    width: 100% !important;
    padding: 30px;
    padding-top: 90px; }
    .detail .close_button {
      right: -10px; }
    .detail.expanded {
      width: 100% !important; }
      .detail.expanded .close_button {
        right: -10px; }
    .detail img {
      width: 100% !important; } }
.list {
  background: #e5e5e5; }
  .list .link {
    cursor: pointer;
    transition: color 0.7s; }
    .list .link:hover {
      color: black; }

.main {
  background: url("assets/imgs/background.jpg");
  background-size: cover; }
  .main .page-menu-item:hover {
    opacity: 0.9; }
  .main .page-menu-item.expanded {
    overflow: auto; }
  .main .page-menu-item .content {
    background: white;
    padding: 30px; }
  .main .page-menu-item.profiles a {
    display: inline-block;
    margin: 15px; }
  .main .page-menu-item h3, .main .page-menu-item h2, .main .page-menu-item h1 {
    margin: 0;
    padding: 25px;
    line-height: 100%;
    color: #fff;
    display: inline-block; }
    .main .page-menu-item h3:nth-child(1):after, .main .page-menu-item h2:nth-child(1):after, .main .page-menu-item h1:nth-child(1):after {
      margin-right: 7.5px; }
  .main .main-detail {
    background: white;
    transition: width 1s ease;
    overflow: hidden;
    position: relative;
    z-index: 10; }
    .main .main-detail .content {
      opacity: 1; }
    .main .main-detail .content-wrapper {
      position: relative;
      transition: top 1s; }
    .main .main-detail.hidden {
      overflow: hidden;
      width: 0px;
      padding: 0; }
    .main .main-detail .content-item {
      display: block;
      width: 400px;
      height: 400px;
      padding: 30px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
  .main dt:nth-child(1) {
    background-color: #b94432; }
  .main dt:nth-child(2) {
    background-color: #9d3a2b; }
  .main dt:nth-child(3) {
    background-color: #812f23; }
  .main dt:nth-child(4) {
    background-color: #65251b; }
  .main dt:nth-child(5) {
    background-color: #491b14; }

.detail {
  background: #CC5543; }
  .detail > * {
    opacity: 0; }
  .detail.expanded {
    overflow: auto; }
    .detail.expanded > * {
      opacity: 1; }
  .detail dl {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    height: 100%; }
  .detail h1, .detail h2, .detail p {
    color: #fff; }
  .detail img {
    width: 100%;
    height: auto; }
  .detail .button-outline {
    color: #fff !important;
    border-color: #fff; }
    .detail .button-outline:hover, .detail .button-outline:visited, .detail .button-outline:active {
      opacity: 0.9;
      color: #fff !important;
      border-color: #fff !important; }
  .detail .close_button {
    position: absolute;
    top: -70px;
    right: 30px;
    color: #fff; }
    .detail .close_button:hover {
      color: #fff;
      opacity: 0.8; }
  .detail .example-enter {
    opacity: 0.01; }
  .detail .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 0.8s ease-in; }
  .detail .example-leave {
    opacity: 1; }
  .detail .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 0.8s ease-in; }

.anima_page-enter {
  opacity: 0.01;
  height: 0px;
  width: 0px;
  overflow: hidden; }

.anima_page-enter.anima_page-enter-active {
  width: 400px;
  height: 400px;
  opacity: 1;
  transition: opacity 0.8s ease-in,width 0.8s ease-in; }

.anima_page-leave {
  height: 400px;
  width: 400px;
  opacity: 1; }

.anima_page-leave.anima_page-leave-active {
  overflow: hidden;
  width: 0px;
  height: 0px;
  opacity: 0.01;
  transition: opacity 0.8s ease-in, width 0.8s ease-in; }
